streamlit==1.35.0
langchain==0.2.0
langchain-core==0.1.75
langchain-community==0.0.35
langchain-openai==0.1.6
langchain-chroma==0.0.8
chromadb==0.4.22
langchain-groq==0.1.4
pypdf==3.17.4
python-dotenv==1.0.1
ipykernel==6.29.4
protobuf==3.20.3
numpy==1.26.4
sentence-transformers==2.7.0
